:root {
  --c-dark: #212529;
  --c-background: rgba(2, 2, 2, 0.011);
  --c-primary: #373184;
}

.body {
  line-height: 1.7;
  /* background-color: rgb(255, 255, 255); */
  
 /* // background: linear-gradient(to right, rgba(255, 213, 0, 0.998), #d8ce0cc7, #726cc6ef); */
}


/* SOCIAL LINKS */

.buttons {
  right: 3rem;
  bottom: 1rem;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.buttons .nav-link {
  margin: 5px -1px;
  position: relative;

}
.buttons .line1 {
  width: 3px;
  height: 13rem;
  background-color:var(--c-primary);
  vertical-align: middle;
 
  margin-bottom: 3rem;
  margin-top:2rem;
}
.buttons .line2 {
  width: 3px;
  height: 8rem;
  background-color:var(--c-primary);
  vertical-align: middle;
 
  margin-top: 3rem;
  margin-bottom: 1rem;

}
.buttons >h6 {
  color:var(--c-primary);;
  transform: rotate(90deg);
  margin: auto;
  letter-spacing: 1px;


}
.buttons .nav-link >a {
  text-decoration: none;
}

.buttons .icon {
  background-color: var(--c-primary);
  padding: 10px 10px;
  color: white;
  font-size:1.2em;
  border-radius: 20px 10px;
  position: relative;
  z-index: 4;
  transition: all 400ms ease;
  box-shadow: 0px 0px 10px var(--c-primary);

  
}

.buttons .icon:hover {
  border-radius: 40%;
  padding: 10px 10px;
}

.buttons .nav-link:nth-child(1) .icon {
  color: white;
  background-color: blue;
}
.buttons .nav-link:nth-child(2) .icon {
  color: white;
  background-color: green;
}
.buttons .nav-link:nth-child(3) .icon {
  color: white;
  background-color: rgb(244, 36, 36);
}
.buttons .nav-link .icon-text {
  position: absolute;
  left: 10px;
  top: -1px;
  z-index: 0;
  width: 200px;
  padding: 6px 0px;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  transition: all 300ms ease;
  opacity: 0;
}



a {
  text-decoration: none;

}

/* HELPERS */
.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

img {
  width: 100%;
  height: auto;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
}

/* NAVBAR */
.navbar {
  box-shadow: 0px 1px 5px rgba(122, 104, 104, 0.11);
  background-color: white;
}


.navbar .navbar-nav a {
  color: black;
  font-weight: 600;
}


.navbar-nav>li>.nav-link:hover {
  border-top: 2.5px solid var(--c-primary);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--c-primary)
}




.navbar .navbar-brand {
  font-weight: 800;
  width: 15.5rem;
  height: 4rem;
  background: url('/src/img/logo_creative.png');
  background-position: center;
  background-size: cover;
}

.navbar .navbar-brand span {
  font-weight: 800;
  color: var(--c-primary)
}

.navbar .btn:hover {
  background-color: var(--c-primary);
}

.navbar .btn-brand {
  background-color: var(--c-primary);
  color: white;
  border-radius: 0px;
  font-weight: 600;
  padding: 0.5rem 2rem 0.5rem 2rem;

}

.btn-brand>a {
  text-decoration: none;
  color: white;
  transition: all 0s ease;
}



/* HOME SECTION */

#home {
  position: relative;

  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.336)), url('img/background.png') no-repeat; */
}


#home h1 {
  color: var(--c-primary);
  font-weight: 700;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 0.1vw var(--c-primary);
  text-transform: uppercase;
  outline: none;
  animation: animate 5s linear infinite;
  position: relative;
  z-index: 2;
}

@keyframes animate {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: var(--c-primary);
    text-shadow: none;
  }

  18.1%,
  20.1%,
  65%,
  80.1%,
  92.1%,
  100% {
    color: rgb(210, 210, 68);
    text-shadow: 0 0 10px #4c44c1,
      0 0 20px rgb(210, 210, 68),
      0 0 40px#4c44c1,
      0 0 80px rgb(210, 210, 68),
      0 0 160px #4c44c1,
  }
}

#home h5 {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  max-width: 700px;
  position: relative;
  z-index: 2;
}

#home .title {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
}


#home .title::after,
#home .title::before {
  content: ' ';
  background-color: black;
  height: 3px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 750px) {
  #home .title {
    color: black;
    font-size: 1.2rem;
    letter-spacing: 0;
  }

  #home .title::before,
  #home .title::after {
    content: ' ';
    background-color: black;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    margin-right: 0px;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: middle;
  }
}


#home .typed-text {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#home .btn {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0px;
}

#home .btn:hover {
  background-color: rgba(45, 77, 193);
}

#home .btn-brand-submit {
  background-color: blue;
  color: white;
  font-weight: 600;
}

#home .btn-brand-contact {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 600;
}

@media(max-width:768px) {}

/* ABOUT SECTION */
#about {
  background-color: var(--c-background);
}

#about .section-title {
  align-items: center;
}

#about .section-title h1 {
  font-weight: 800;
  color: black;
  letter-spacing: 0.1rem;
}

#about .section-title .line {
  height: 4px;
  width: 100px;
  margin: auto;
  background-color: blue
}

#about .section-title p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  color: rgba(0, 0, 0, 0.671);
  letter-spacing: 0.1rem;
}

#about .about-img {
  min-height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background: url('img/about.png')no-repeat;
}

#about .iconbox {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  display: inline-flex;
  margin-right: 2rem;
  transform: translateY(10px);

}

#about .about-body h1 {
  color: black;
  font-weight: 700;
  font-size: 30px;
}

#about .about-body p {
  color: rgb(48, 43, 43);
  font-weight: 400;
  font-size: 22px;
}

/* SERVICES */
#services {
  background-color: var(--c-background);
  z-index: 1;
  
}

#services .services-title {
  align-items: center;
}

#services .services-title h1 {
  font-weight: 800;
  color: black;
  letter-spacing: 0.1rem;
}

#services .services-title .line {
  height: 4px;
  width: 100px;
  margin: auto;
  background-color: blue
}

#services .services-title p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  color: rgba(0, 0, 0, 0.671);
  letter-spacing: 0.1rem;
}


#services .service-card {
  box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.08);
  padding: 2rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  align-items: center;
  height: 18rem;
  

}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  transition: all 0.4s ease;
}



#services .service-card::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease;
  z-index: 1;
  background: var(--c-primary);
}

#services .service-card:hover::after {
  width: 100%;
  height: 100%;
  background: #37318457;
}

#services .service-card:hover .wrapper {
  transform: scale(1.05)
}


#services .service-card .icon-box {
  width: 80;
  height: 80;
  background-color: blue;
}

/* PORTFOILIO */
#portfolio {
  background-color: var(--c-background);
}

#portfolio .portfolio-title {
  align-items: center;
}

#portfolio .portfolio-title h1 {
  font-weight: 800;
  color: black;
  letter-spacing: 0.1rem;
}

#portfolio .portfolio-title .line {
  height: 4px;
  width: 100px;
  margin: auto;
  background-color: blue
}

#portfolio .portfolio-title p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  color: rgba(0, 0, 0, 0.671);
  letter-spacing: 0.1rem;
}


.portfolio-card {
  box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.2);
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 5%;

}

.portfolio-card .image-zoom {
  transition: all 0.5s ease-out;
  height: 100%;
  width: 100%;

}

.portfolio-card .image-zoom .portfolio-img {
  height: 100%;
  width: 100%;
  background: url('img/img2.PNG');


}

.portfolio-card:hover .image-zoom {
  transform: scale(1.1);
}

.portfolio-card .icon-box {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 50px;
  height: 50px;
  background-color: rgb(33, 102, 175);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.portfolio-card:hover .icon-box {
  opacity: 1;
  top: 50%;
}

/* REVIEWS */

#reviews {
  background-color: var(--c-background);
}

#reviews .reviews-title {
  align-items: center;
}

#reviews .reviews-title h1 {
  font-weight: 800;
  color: black;
  letter-spacing: 0.1rem;
}

#reviews .reviews-title .line {
  height: 4px;
  width: 100px;
  margin: auto;
  background-color: blue
}

#reviews .reviews-title p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  color: rgba(0, 0, 0, 0.671);
  letter-spacing: 0.1rem;
}

.review-card {
  position: relative;

}

.review-card .review-card-header {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.09);
  position: relative;
}

.review-card .review-card-header::after {
  content: '';
  position: absolute;
  bottom: -10;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
}



.review-card .review-card-header p {
  color: rgba(0, 0, 0, 0.548);
  font-weight: 500;
  font-size: 0.8rem;
}

.review-card .review-card-body .img {
  background: url('img/img3.PNG');

  border-radius: 100%;
  width: 80px;
  height: 80px;
}

.review-card .review-card-body h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.938);

}

.review-card .review-card-body small {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.76);
}

/* TEAM */
#team {
  background-color: var(--c-background);
}

#team .team-title {
  align-items: center;
}

#team .team-title h1 {
  font-weight: 800;
  color: black;
  letter-spacing: 0.1rem;
}

#team .team-title .line {
  height: 4px;
  width: 100px;
  margin: auto;
  background-color: blue
}

#team .team-title p {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  color: rgba(0, 0, 0, 0.671);
  letter-spacing: 0.1rem;
}

.team-card {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#team .team-card .img-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-out;
}

#team .team-card .img-wrapper .img {
  height: 100%;
  width: 100%;
  background: url('img/img2.PNG');

}

#team .team-card .team-info {
  position: absolute;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 0;
  height: 120px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  opacity: 0;
  color: white;
}

#team .team-card:hover .img-wrapper {
  transform: scale(1.1);
}

#team .team-card:hover .team-info {
  bottom: 2rem;
  opacity: 1;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: url('img/img1.PNG');
  background-size: cover;
  background-position: center;
  height: 65%;
  width: 100%;
  z-index: -1;
}

#contact .header {
  max-width: 800px;
}

#contact .header h1 {
  color: rgb(15, 14, 14);
  font-weight: 700;
}

#contact .header small {
  color: rgba(30, 28, 28, 0.548);
  font-weight: 500;
}

#contact .contact-form {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
}

/* FOOTER */
footer {
  background-color: rgb(7, 7, 7);
}

footer .footer-top .navbar-brand {
  color: white;
  font-weight: 800;
}

footer .footer-top .navbar-brand span {
  color: rgb(19, 76, 190);
  font-weight: 800;
}

footer .footer-top .line {
  height: 4px;
  background-color: rgb(15, 15, 181);
  width: 50px;
  margin-top: 0;
  margin-bottom: 1.5rem;

}

footer .footer-top h5 {

  color: rgb(255, 255, 255);
  font-weight: 700;

}

footer .footer-top p {
  color: rgba(255, 255, 255, 0.696);
}

footer .footer-top .social-links a {
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  border-radius: 10%;
  text-align: center;
  font-weight: 800;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-right: 0.3rem;
}

footer .footer-top .social-links a:hover {
  background-color: blue;
  color: white;
}

footer .footer-top .navbar-brand {
  font-size: 25px;
  font-weight: 800;
  color: white;
}

footer .footer-top .footer-title {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

footer .footer-top ul {
  list-style: none;
  padding: 0;
}

footer .footer-top ul a {
  color: rgba(255, 255, 255, 0.648);
  font-weight: 400;
  transition: all 0.3s ease;
  text-decoration: none;

}

footer .footer-top ul a:hover {
  color: rgba(0, 132, 255, 0.925);

}

footer .footer-bottom {
  border-top: 1px solid white;
  padding-bottom: 10px;
}

footer .footer-bottom p {

  color: rgba(255, 255, 255, 0.614);
  font-size: 14;
  font-weight: 400;
}

.footer-top .line {}

@media (max-width: 750px) {
  .footer-top .line {
    margin: auto;
  }
}